src/conf/xml-resources/web-service-references/SecurityResetService/wsdl/10.65.0.114_7003/AccountFlexServiceFcubs/SecurityResetService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://gateway.union.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gateway.union.com/"><xsd:complexType name="generatePasswordResetOTP"><xsd:sequence><xsd:element name="username" type="xsd:string" minOccurs="0"/><xsd:element name="displayname" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="generatePasswordResetOTPResponse"><xsd:sequence><xsd:element name="return" type="xsd:boolean"/></xsd:sequence></xsd:complexType><xsd:complexType name="validateResetOTP"><xsd:sequence><xsd:element name="username" type="xsd:string" minOccurs="0"/><xsd:element name="oneTimePass" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="validateResetOTPResponse"><xsd:sequence><xsd:element name="return" type="xsd:boolean"/></xsd:sequence></xsd:complexType><xsd:element name="generatePasswordResetOTP" type="ns0:generatePasswordResetOTP"/><xsd:element name="generatePasswordResetOTPResponse" type="ns0:generatePasswordResetOTPResponse"/><xsd:element name="validateResetOTP" type="ns0:validateResetOTP"/><xsd:element name="validateResetOTPResponse" type="ns0:validateResetOTPResponse"/></xsd:schema>