src/conf/xml-resources/web-service-references/SecurityResetService/wsdl/devops-22_8080/AccountFlexServiceFcubs/SecurityResetService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://gateway.union.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://gateway.union.com/">

<xs:element name="generatePasswordResetOTP" type="tns:generatePasswordResetOTP"/>

<xs:element name="generatePasswordResetOTPResponse" type="tns:generatePasswordResetOTPResponse"/>

<xs:complexType name="generatePasswordResetOTP">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="displayname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generatePasswordResetOTPResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>